In [3]:
import pandas as pd

In [4]:
df=pd.read_csv("ship.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
#
df=df.drop(columns=['PassengerId','Name','Ticket','Cabin'])
df=pd.get_dummies(data=df,columns=['Embarked','Gender'],drop_first=True)
df.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked_Q,Embarked_S,Gender_male
0,0,3,22.0,1,0,7.2500,0,1,1
1,1,1,38.0,1,0,71.2833,0,0,0
2,1,3,26.0,0,0,7.9250,0,1,0
3,1,1,35.0,1,0,53.1000,0,1,0
4,0,3,35.0,0,0,8.0500,0,1,1

In [6]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

df1=df[["Age"]]

IterImp=IterativeImputer()
#fitting the model
df1_IterImp=IterImp.fit_transform(df1)
df2=pd.DataFrame(df1_IterImp,index=df.index)

df['Age']=df2
df.info()

#

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Survived     891 non-null    int64
 1   Pclass       891 non-null    int64
 2   Age          891 non-null    float64
 3   SibSp        891 non-null    int64
 4   Parch        891 non-null    int64
 5   Fare         891 non-null    float64
 6   Embarked_Q   891 non-null    uint8
 7   Embarked_S   891 non-null    uint8
 8   Gender_male  891 non-null    uint8
dtypes: float64(2), int64(4), uint8(3)
memory usage: 44.5 KB

In [7]:

x=df.drop(columns=['Survived'])
y=df.Survived

In [8]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=10)

In [9]:
from sklearn.tree import DecisionTreeClassifier,export_graphviz

In [16]:
model=DecisionTreeClassifier(criterion='entropy')#criterion='entropy' or 'gini' or 'mse'
model.fit(x_train,y_train)
print('Trainscore:',model.score(x_train,y_train))
print('Testscore:',model.score(x_test,y_test))

Trainscore: 0.9850299401197605
Testscore: 0.7892376681614349

In [15]:
#export tree

export_graphviz(model,out_file='shipModel_all_feature.dot',feature_names=x_train.columns,rounded=True,filled=True)

#http://www.webgraphviz.com/?source=techstories.org

#check the .dot code here
x_train.Gender_male.squeeze().shape
#y_train.shape

(668,)

In [12]:
pd.crosstab(x_train.Gender_male,y_train,margins=True)

Survived       0    1  All
Gender_male
0             66  181  247
1            336   85  421
All          402  266  668

In [13]:
model

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')