In [2]:
import pandas as pd

In [ ]:
df=pd.read_csv("SpamCollection",header=None,sep="\t")

In [ ]:
df.columns=["status","text"]
df.head()

In [11]:
from nltk.corpus import stopwords
import re
import string

In [12]:
text="Hi! How have you been? Nice shoes."

In [22]:
re.sub("\?","",text)

'Hi! How have you been Nice shoes.'

In [26]:
text_lower=re.sub("[^A-Za-z]"," ",text).lower()
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [37]:
def cleanText(text):
    text_lower=re.sub("[^A-Za-z]"," ",text).lower()#replacing spcl char and numbers ""
    cleanText=' '.join([i for i in text_lower.split() if i not in stopwords.words('english')])
    return(cleanText)

In [30]:
cleanText("Good Morning! Nice car. I want one.")

'good morning nice car want one'

In [ ]:
df['processedText']=df.text.apply(cleanText)
df.head()

In [35]:
df

,status,text,processedText
0,ham,"Go until jurong point, crazy.. Available only ...",go jurong point crazy available bugis n great ...
1,ham,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry wkly comp win fa cup final tkts st ...
3,ham,U dun say so early hor... U c already then say...,u dun say early hor u c already say
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah think goes usf lives around though
...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,nd time tried contact u u pound prize claim ea...
5568,ham,Will ü b going to esplanade fr home?,b going esplanade fr home
5569,ham,"Pity, * was in mood for that. So...any other s...",pity mood suggestions
5570,ham,The guy did some bitching but I acted like i'd...,guy bitching acted like interested buying some...
5571,ham,Rofl. Its true to its name,rofl true name

In [38]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer

In [39]:
cv=CountVectorizer()

In [40]:
cvData=cv.fit_transform(df.processedText)

In [42]:
pd.DataFrame(cvData.toarray(),columns=cv.get_feature_names())

,aa,aah,aaniye,aaooooright,aathi,ab,abbey,abdomen,abeg,abel,...,zeros,zf,zhong,zindgi,zoe,zogtorius,zoom,zouk,zs,zyada
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5570,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5571,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
x=cvData
y=df.status
y=pd.get_dummies(y,drop_first=True)

In [46]:
from sklearn.naive_bayes import MultinomialNB

In [48]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=10)

In [49]:
nbModel=MultinomialNB()
nbModel.fit(x_train,y_train)

C:\Users\techy\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [50]:
nbModel.score(x_train,y_train)

0.9935391241923905

In [56]:
#muti class naive bays# gaussian--> bcoz features are contnious

In [58]:
df1=pd.read_csv("ird.csv")

In [61]:
x=df1.iloc[:,1:-1]
y=df1.Species

In [63]:
from sklearn.naive_bayes import GaussianNB
gbModel=GaussianNB()
gbModel.fit(x,y)
gbModel.score(x,y)

0.96

In [64]:
pd.crosstab(y,gbModel.predict(x))

col_0     0   1   2
Species
0        50   0   0
1         0  47   3
2         0   3  47